<a href="https://colab.research.google.com/github/Denixer/AN-LISIS-Y-VISUALIZACI-N-DE-DATOS/blob/main/consultas_medicas_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#cargar librerias
import pandas as pd
import numpy as np
import xlrd
#import os # para manejar archivos y carpetas
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter

# Cargar base de dato
from google.colab import files

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
import pandas as pd
df = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2019.xlsx")
df2 = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2020.xlsx")
df3 = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2020.xlsx")
df4 = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2020.xlsx")

IndentationError: ignored

In [16]:
# comando para mostar los campos con su wwww de una tabla
df2.dtypes

FECHA                      datetime64[ns]
AÑO                                 int64
MES                                object
ESPECIALIDAD                       object
TOTAL                               int64
0_4                               float64
5_9                               float64
10 _14                            float64
15_19                             float64
20_24                             float64
25_29                             float64
30_34                             float64
35_39                             float64
40_44                             float64
45_49                             float64
50_54                             float64
55_59                             float64
60_64                             float64
65_69                             float64
70 _74                            float64
75_79                             float64
80_mas                            float64
BENEFICIARIOS                     float64
Hombres                           float64
Mujeres                           float64
TOTAL_MEN                           int64
NUEVA_APS_MEN15                   float64
NUEVA_CAE_MEN15                   float64
NUEVA_URG_MEN15                   float64
TOTAL_MAY                           int64
NUEVA_APS_15MAS                   float64
NUEVA_CAE_15MAS                   float64
NUEVA_URG_15MAS                   float64
NSP_NUEVAS                        float64
NSP_CONTROLES                     float64
CONSULTA_ABREVIADA                float64
ALTAS_MENOS_15\n15 años           float64
ALTAS_MAS_15                      float64
Compras_Servicio                  float64
operativos                        float64
GENERAL_MENOS_15                  float64
GENERAL_MAS15                     float64
TOTAL_NUEVAS                        int64
TOTAL_NSP                           int64
TOTAL_ALTAS                         int64
dtype: object

In [17]:
df2.head(5)

,FECHA,AÑO,MES,ESPECIALIDAD,TOTAL,0_4,5_9,10 _14,15_19,20_24,...,CONSULTA_ABREVIADA,ALTAS_MENOS_15\n15 años,ALTAS_MAS_15,Compras_Servicio,operativos,GENERAL_MENOS_15,GENERAL_MAS15,TOTAL_NUEVAS,TOTAL_NSP,TOTAL_ALTAS
0,2020-01-01,2020,ENERO,PEDIATRÍA,222,114.0,53.0,44.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,86,14
1,2020-01-01,2020,ENERO,MEDICINA INTERNA,566,0.0,1.0,0.0,17.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191,150,1
2,2020-01-01,2020,ENERO,NEONATOLOGÍA,106,106.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,32,14
3,2020-01-01,2020,ENERO,ENFERMEDAD RESPIRATORIA PEDIÁTRICA (BRONCOPULM...,73,29.0,26.0,16.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,46,15
4,2020-01-01,2020,ENERO,ENFERMEDAD RESPIRATORIA DE ADULTO (BRONCOPULMO...,230,0.0,0.0,0.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,67,0

In [18]:
df2.append

<bound method DataFrame.append of          FECHA   AÑO        MES  \
0   2020-01-01  2020      ENERO
1   2020-01-01  2020      ENERO
2   2020-01-01  2020      ENERO
3   2020-01-01  2020      ENERO
4   2020-01-01  2020      ENERO
..         ...   ...        ...
715 2020-12-01  2020  DICIEMBRE
716 2020-12-01  2020  DICIEMBRE
717 2020-12-01  2020  DICIEMBRE
718 2020-12-01  2020  DICIEMBRE
719 2020-12-01  2020  DICIEMBRE

                                          ESPECIALIDAD  TOTAL                 \
0                                            PEDIATRÍA                   222
1                                     MEDICINA INTERNA                   566
2                                         NEONATOLOGÍA                   106
3    ENFERMEDAD RESPIRATORIA PEDIÁTRICA (BRONCOPULM...                    73
4    ENFERMEDAD RESPIRATORIA DE ADULTO (BRONCOPULMO...                   230
..                                                 ...                   ...
715                           MEDICINA FAMILIAR ADULTO                     0
716                                       DIABETOLOGÍA                     0
717                MEDICINA NUCLEAR (EXCLUYE INFORMES)                     0
718                                       IMAGENOLOGÍA                     0
719                            RADIOTERAPIA ONCOLÓGICA                     0

       0_4   5_9  10 _14  15_19  20_24  ...  CONSULTA_ABREVIADA  \
0    114.0  53.0    44.0   10.0    1.0  ...                 NaN
1      0.0   1.0     0.0   17.0   24.0  ...                 NaN
2    106.0   NaN     NaN    NaN    NaN  ...                 NaN
3     29.0  26.0    16.0    2.0    0.0  ...                 NaN
4      0.0   0.0     0.0    4.0    2.0  ...                 NaN
..     ...   ...     ...    ...    ...  ...                 ...
715    NaN   NaN     NaN    NaN    NaN  ...                 NaN
716    NaN   NaN     NaN    NaN    NaN  ...                 NaN
717    NaN   NaN     NaN    NaN    NaN  ...                 NaN
718    NaN   NaN     NaN    NaN    NaN  ...                 NaN
719    NaN   NaN     NaN    NaN    NaN  ...                 NaN

     ALTAS_MENOS_15\n15 años  ALTAS_MAS_15  Compras_Servicio  operativos  \
0                        NaN           NaN               NaN         NaN
1                        NaN           NaN               NaN         NaN
2                        NaN           NaN               NaN         NaN
3                        NaN           NaN               NaN         NaN
4                        NaN           NaN               NaN         NaN
..                       ...           ...               ...         ...
715                      NaN           NaN               NaN         NaN
716                      NaN           NaN               NaN         NaN
717                      NaN           NaN               NaN         NaN
718                      NaN           NaN               NaN         NaN
719                      NaN           NaN               NaN         NaN

     GENERAL_MENOS_15  GENERAL_MAS15  TOTAL_NUEVAS  TOTAL_NSP  TOTAL_ALTAS
0                 NaN            NaN            71         86           14
1                 NaN            NaN           191        150            1
2                 NaN            NaN            15         32           14
3                 NaN            NaN            27         46           15
4                 NaN            NaN            42         67            0
..                ...            ...           ...        ...          ...
715               NaN            NaN             0          0            0
716               NaN            NaN             0          0            0
717               NaN            NaN             0          0            0
718               NaN            NaN             0          0            0
719               NaN            NaN             0          0            0

[720 rows x 45 columns]>

In [39]:
# listar el nombre de las columnas del dataset enero
print(df.columns) and print(df2.columns) #español

Index(['FECHA', 'AÑO', 'MES', 'ESPECIALIDAD', 'TOTAL               ', '0_4',
       '5_9', '10 _14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44',
       '45_49', '50_54', '55_59', '60_64', '65_69', '70 _74', '75_79',
       '80_mas', 'BENEFICIARIOS', 'Hombres', 'Mujeres', 'TOTAL_MEN',
       'NUEVA_APS_MEN15', 'NUEVA_CAE_MEN15', 'NUEVA_URG_MEN15', 'TOTAL_MAY',
       'NUEVA_APS_15MAS', 'NUEVA_CAE_15MAS', 'NUEVA_URG_15MAS', 'NSP_NUEVAS',
       'NSP_CONTROLES', 'CONSULTA_ABREVIADA', 'ALTAS_MENOS_15\n15 años',
       'ALTAS_MAS_15', 'Compras_Servicio', 'operativos', 'GENERAL_MENOS_15',
       'GENERAL_MAS15', 'TOTAL_NUEVAS', 'TOTAL_NSP', 'TOTAL_ALTAS'],
      dtype='object')

In [44]:
# OJO: ESTO ES INCORRECTO EN CUANTO A CALIDAD.
# concatenar archivos para generar un unico dataset, aunque los nombres de las columnas no sean iguales
# usamos la funcion concat de pandas
consultas = pd.concat([df,df2,df3,df4])
# listar el nombre de las columnas del dataset test
print(consultas.columns)
# mostrar los primeros 10 registros del dataset febrero
consultas.head(1000)

Index(['FECHA', 'AÑO', 'MES', 'ESPECIALIDAD', 'TOTAL               ', '0_4',
       '5_9', '10 _14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44',
       '45_49', '50_54', '55_59', '60_64', '65_69', '70 _74', '75_79',
       '80_mas', 'BENEFICIARIOS', 'Hombres', 'Mujeres', 'TOTAL_MEN',
       'NUEVA_APS_MEN15', 'NUEVA_CAE_MEN15', 'NUEVA_URG_MEN15', 'TOTAL_MAY',
       'NUEVA_APS_15MAS', 'NUEVA_CAE_15MAS', 'NUEVA_URG_15MAS', 'NSP_NUEVAS',
       'NSP_CONTROLES', 'CONSULTA_ABREVIADA', 'ALTAS_MENOS_15\n15 años',
       'ALTAS_MAS_15', 'Compras_Servicio', 'operativos', 'GENERAL_MENOS_15',
       'GENERAL_MAS15', 'TOTAL_NUEVAS', 'TOTAL_NSP', 'TOTAL_ALTAS'],
      dtype='object')

,FECHA,AÑO,MES,ESPECIALIDAD,TOTAL,0_4,5_9,10 _14,15_19,20_24,...,CONSULTA_ABREVIADA,ALTAS_MENOS_15\n15 años,ALTAS_MAS_15,Compras_Servicio,operativos,GENERAL_MENOS_15,GENERAL_MAS15,TOTAL_NUEVAS,TOTAL_NSP,TOTAL_ALTAS
0,2019-01-01,2019,ENERO,PEDIATRÍA,180,106.0,46.0,19.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,0,10
1,2019-01-01,2019,ENERO,MEDICINA INTERNA,473,0.0,0.0,0.0,4.0,12.0,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,129,0,0
2,2019-01-01,2019,ENERO,NEONATOLOGÍA,104,104.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,0,0
3,2019-01-01,2019,ENERO,ENFERMEDAD RESPIRATORIA PEDIÁTRICA (BRONCOPULM...,120,43.0,34.0,35.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,0,3
4,2019-01-01,2019,ENERO,ENFERMEDAD RESPIRATORIA DE ADULTO (BRONCOPULMO...,117,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2020-05-01,2020,MAYO,"CIRUGÍA DE CABEZA, CUELLO Y MAXILOFACIAL",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
276,2020-05-01,2020,MAYO,CIRUGÍA PLÁSTICA Y REPARADORA PEDIÁTRICA,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
277,2020-05-01,2020,MAYO,CIRUGÍA PLÁSTICA Y REPARADORA ADULTO,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
278,2020-05-01,2020,MAYO,COLOPROCTOLOGÍA (CIRUGIA DIGESTIVA BAJA),0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
279,2020-05-01,2020,MAYO,CIRUGÍA TÓRAX,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [49]:
# Mostramos los nombres de las columnas de todos los dataframes.
print(df.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)


#Concatenar nuestros dataframes
consultas = pd.concat([df,df2,df3,df4])
# mostrar los primeros 10 registros del dataset meses
consultas.head(10)
# mostrar los ultimos 10 registros del dataset meses
consultas.tail(10)

# Guardar nuestro dataframe consolidado (meses) en un archivo csv
consultas.to_csv('consultas_medicas.csv', index = False)

Index(['FECHA', 'AÑO', 'MES', 'ESPECIALIDAD', 'TOTAL               ', '0_4',
       '5_9', '10 _14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44',
       '45_49', '50_54', '55_59', '60_64', '65_69', '70 _74', '75_79',
       '80_mas', 'BENEFICIARIOS', 'Hombres', 'Mujeres', 'TOTAL_MEN',
       'NUEVA_APS_MEN15', 'NUEVA_CAE_MEN15', 'NUEVA_URG_MEN15', 'TOTAL_MAY',
       'NUEVA_APS_15MAS', 'NUEVA_CAE_15MAS', 'NUEVA_URG_15MAS', 'NSP_NUEVAS',
       'NSP_CONTROLES', 'CONSULTA_ABREVIADA', 'ALTAS_MENOS_15\n15 años',
       'ALTAS_MAS_15', 'Compras_Servicio', 'operativos', 'GENERAL_MENOS_15',
       'GENERAL_MAS15', 'TOTAL_NUEVAS', 'TOTAL_NSP', 'TOTAL_ALTAS'],
      dtype='object')
Index(['FECHA', 'AÑO', 'MES', 'ESPECIALIDAD', 'TOTAL               ', '0_4',
       '5_9', '10 _14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44',
       '45_49', '50_54', '55_59', '60_64', '65_69', '70 _74', '75_79',
       '80_mas', 'BENEFICIARIOS', 'Hombres', 'Mujeres', 'TOTAL_MEN',
       'NUEVA_APS_MEN15', 'NUEVA_CAE_MEN15', 'NUEVA_URG_MEN15', 'TOTAL_MAY',
       'NUEVA_APS_15MAS', 'NUEVA_CAE_15MAS', 'NUEVA_URG_15MAS', 'NSP_NUEVAS',
       'NSP_CONTROLES', 'CONSULTA_ABREVIADA', 'ALTAS_MENOS_15\n15 años',
       'ALTAS_MAS_15', 'Compras_Servicio', 'operativos', 'GENERAL_MENOS_15',
       'GENERAL_MAS15', 'TOTAL_NUEVAS', 'TOTAL_NSP', 'TOTAL_ALTAS'],
      dtype='object')
Index(['FECHA', 'AÑO', 'MES', 'ESPECIALIDAD', 'TOTAL               ', '0_4',
       '5_9', '10 _14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44',
       '45_49', '50_54', '55_59', '60_64', '65_69', '70 _74', '75_79',
       '80_mas', 'BENEFICIARIOS', 'Hombres', 'Mujeres', 'TOTAL_MEN',
       'NUEVA_APS_MEN15', 'NUEVA_CAE_MEN15', 'NUEVA_URG_MEN15', 'TOTAL_MAY',
       'NUEVA_APS_15MAS', 'NUEVA_CAE_15MAS', 'NUEVA_URG_15MAS', 'NSP_NUEVAS',
       'NSP_CONTROLES', 'CONSULTA_ABREVIADA', 'ALTAS_MENOS_15\n15 años',
       'ALTAS_MAS_15', 'Compras_Servicio', 'operativos', 'GENERAL_MENOS_15',
       'GENERAL_MAS15', 'TOTAL_NUEVAS', 'TOTAL_NSP', 'TOTAL_ALTAS'],
      dtype='object')
Index(['FECHA', 'AÑO', 'MES', 'ESPECIALIDAD', 'TOTAL               ', '0_4',
       '5_9', '10 _14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44',
       '45_49', '50_54', '55_59', '60_64', '65_69', '70 _74', '75_79',
       '80_mas', 'BENEFICIARIOS', 'Hombres', 'Mujeres', 'TOTAL_MEN',
       'NUEVA_APS_MEN15', 'NUEVA_CAE_MEN15', 'NUEVA_URG_MEN15', 'TOTAL_MAY',
       'NUEVA_APS_15MAS', 'NUEVA_CAE_15MAS', 'NUEVA_URG_15MAS', 'NSP_NUEVAS',
       'NSP_CONTROLES', 'CONSULTA_ABREVIADA', 'ALTAS_MENOS_15\n15 años',
       'ALTAS_MAS_15', 'Compras_Servicio', 'operativos', 'GENERAL_MENOS_15',
       'GENERAL_MAS15', 'TOTAL_NUEVAS', 'TOTAL_NSP', 'TOTAL_ALTAS'],
      dtype='object')